<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.theme.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.structure.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"> </script>
<script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"> </script>
<script type="text/javascript">
</script>
</head>
<body>
</body>

</html>
